.DS_Store
Demo.pro.user
Demo/Demo.pro.user
Demo/qtc_packaging
Demo/qtc_packaging/*
/Demo-build-simulator-Simulator_Qt_for_GCC__Qt_SDK__Debug/*
Demo-build-simulator-Simulator_Qt_for_GCC__Qt_SDK__Debug/
Demo-build-simulator-Simulator_Qt_for_GCC__Qt_SDK__Debug/*